body {
  margin: 0;
  line-height: 0;
  font-family: "Sarabun", sans-serif;
}
nav {
  background-image: url("./projectfiles/NavBG.png");
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 50px;
}
.logo {
  height: fit-content;
  margin-top: 28px;
  margin-left: -50px;
}
#nav-bar > p {
  margin-left: 10px;
  font-size: 14px;
  line-height: 32px;
  color: #a4aead;
  font-weight: 600;
  font-family: "Sarabun", sans-serif;
  border: 2px solid #1d2026;
  padding: 0px 6px 0px 6px;
}

#nav-bar > p:hover {
  /* border: 1px solid #23b7a4;
  color: #23b7a4;
  border-radius: 5px; */

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #23b7a4;
}

.hero-container {
  background-image: url(./projectfiles/BG.png);
}

.hero {
  background-image: url(./projectfiles/pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: #ccd0d7;
}
.hero > div {
  height: 70vh;
  padding-top: 150px;
  padding-left: 180px;
}
.hero > div > h1 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Sarabun", sans-serif;
}
.hero>div > p {
  color: #ccd0d7;
  width:630px;
  line-height:1;
  padding-top: 20px;
  padding-bottom: 20px;
  /* font-family: "Open Sans"; */
}
.hero-buttons > button {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  color: white;
  background-color: rgba(222, 180, 180, 0);
  border: 2px solid #ffffff;
}

.hero-buttons > button:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}

/* secont containor */
.Modest {
  height: 70vh;
  display: flex;
  align-items: center;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.Modest > div {
  margin-left: 80px;
}

.mod-se1 {
  padding-left: 90px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.mod-sec2 {
  display: flex;
  justify-content: space-evenly;
}

.mod-sec2 > div {
  width: 40%;
}

.modsec2-right-content {
  display: flex;
  justify-content: space-evenly;
}
.modsec2-part1 > p {
  line-height: 1;
}
.modcontent {
  margin-left: 10px;
  padding-right: 60px;
}
.modcontent > p {
  line-height: 1;
}
.modcontent > h4 {
  font-size: 18px;
  color: #292f36;
  font-weight: 700;
}

.social-logos {
  display: flex;
}

.social-logos > div {
  width: 60px;
  height: 60px;
  background-color: #c8cdd0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
}

.mod-num {
  width: 130px;
  height: 50px;
  background-color: #23b7a4;
  margin-top: 17px;
}
.mod-num > p {
  font-size: 20px;
  line-height: 10px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

/* Team */

.team {
  width: 77%;
  margin: auto;
  /* border: 1px solid red; */
  padding-top: 50px;
  padding-bottom: 70px;
}

.team-se1 > h1 {
  padding-left: 20px;
  padding-bottom: 50px;
}

.teamImages {
  display: flex;
  justify-content: space-evenly;
}

.teamImages > div > img {
  width: 233px;
}
.teamImages > div > div {
  width: 211px;
  height: 54px;
  background-color: #e1e6ea;
  border: 1px solid transparent;
  padding-left: 20px;
}

.teamImages > div > div:hover {
  
  background-color: #3a454d;
  
}

.teamImages > div > div > p:nth-child(1) {
  font-size: 16px;
  color: #292f36;
  font-weight: 700;
  /* line-height:1 */
}

.teamImages > div > div > p:nth-child(2) {
  font-size: 14px;
  color: #8d8f92;
  font-weight: 400;
}

/* images */

.images {
  /* width:80%; */
  background-color: #3a454d;
  border: 1px solid #3a454d;
  margin: auto;
  padding-bottom: 70px;
}

.images > div > h1 {
  padding-left: 177px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 36px;
/* line-height: 42px; */
color: #ffffff;
font-weight: 700;
}

.image-containor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 30px;
}

.image-containor > img {
  width: 310px;
}
.image-button {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.image-button > button {
  width: 147px;
  height: 40px;
  border-radius: 3px;
  background-color: rgba(222, 180, 180, 0);
  border: 2px solid #ffffff;
}
.image-button > button:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}

.detail h1 {
  padding-left: 177px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.detail_img {
  display: flex;
  justify-content: center;
}
.detail_div1 {
  margin: 3%;
  width: 240px;
  text-align: center;
}
.detail_div1 > h3 {
  font-size: 17px;
  color: #292f36;
  font-weight: 700;
}
.detail_div1 > p {
  height: 99px;
  font-size: 16px;
  line-height: 26px;
  color: #8d8f92;
  font-weight: 400;
  text-align: center;
}
.detail_div {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  line-height: 1;
  margin: auto;
}
.detail_div2 {
  margin-bottom: 60px;
  width: 250px;
  height: 30vh;
}

/* features */

.freature-main {
  background-color: #3a454d;
  border: 1px solid transparent;
}
.feature-containor > h1 {
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.features {
  width: 80%;
  margin: auto;
}

.feature-images {
  display: flex;
  justify-content: space-evenly;
}

.feature-images > div > img {
  width: 331px;
}
.feature-images > div > h3 {
  font-size: 18px;
  line-height: 42px;
  color: #ffffff;
  font-weight: 700;
}
.feature-images > div > p {
  width: 339px;
  height: 185px;
  font-size: 16px;
  line-height: 26px;
  color: #dcdfe1;
  font-weight: 400;
}

.contact-containor {
  width: 80%;
  margin: auto;
  margin-bottom: 60px;
}
.contact-containor > h1 {
  padding-left: 18px;
  padding-top: 30px;
  /* padding-bottom: 30px; */
}
.map {
  background-image: url(./projectfiles/map.png);
  height: 246px;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid red; */
}
.form-containor {
  width: 80%;
  margin: auto;
  display: flex;
}

.form-containor > div > h1 {
  font-size: 20px;
  line-height: 26px;
  color: #292f36;
  font-weight: 700;
  padding-top: 30px;
}

.form-containor > div > p {
  width: 536px;

  font-size: 16px;
  line-height: 26px;
  color: #8d8f92;
  font-weight: 400;
}

.form {
  margin-top: -91px;
  background-color: #ffffff;
  padding: 40px;
}
input {
  width: 240px;
  height: 44px;
  border-radius: 3px;
  background-color: #eaeef1;
  border: 0px;
}
.form > div {
  display: flex;
  gap: 30px;
}

.form > div > div > p {
  font-size: 14px;
  line-height: 26px;
  color: #8d8f92;
  font-weight: 700;
}

.form > p {
  font-size: 14px;
  line-height: 26px;
  color: #8d8f92;
  font-weight: 700;
}
textarea {
  border-radius: 3px;
  background-color: #eaeef1;
  border: 0px;
  width: 240px;
}

.form > button {
  width: 147px;
  height: 40px;
  border-radius: 3px;
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 30px;
}
/* footer */

footer {
  height: 75px;
  background-color: #3a454d;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red */
}

footer > h1 {
  font-size: 14px;
  /* line-height: 26px; */
  color: #ffffff;
  font-weight: 400;
}

span{
  width: 10px;
height: 20px;
background-color: #e1e6ea;
padding-left:10px;
margin-right:10px
}
.span{
  background-color: #4e5a62;
  padding-left:10px;
  margin-right:10px
}